<!DOCTYPE html>
<html>
<head>
    <title>게시판</title>
</head>
<body>
    <h1>게시판</h1>
    <form action="/boards" method="post">
        <input type="text" name="title" placeholder="제목" required>
        <textarea name="content" placeholder="내용" required></textarea>
        <input type="text" name="writer" placeholder="작성자" required>
        <button type="submit">등록</button>
    </form>
    <h2>게시글 목록</h2>
    <ul>
        <h1 th:text="${board.title}">Title</h1>
        <th:block th:each="board : ${boards}">
            <li>
                <strong th:text="${board.title}"></strong>
                <p th:text="${board.content}"></p>
                <small th:text="${board.writer}"></small>
            </li>
        </th:block>
    </ul>
</body>
</html>
